@import url(vexed-font.css);
html * {
    font-family: Vexed, sans-serif;
    color: white;
    background-color: black;
    overflow: hidden;
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

main h1 {
    font-size: 100px;
    padding-bottom: 10%;
    user-select: none;
}

main p {
    font-size: 70px;
    user-select: none;
}

@media screen and (max-width: 800px) {
    main h1 {font-size: 50px;}
    main p {font-size: 38px;}
    
}