html * {
    color: whitesmoke;
}

body {
    background-color: black;
}


.container {
    overflow:            hidden;
    justify-content:     center;
    display:             flex;
    flex-direction:      column;
    align-items:         center;
}

.logo {
    padding-top: 2%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.down {
    padding-top:  2%;
    padding-left: 0.7%;
    font-size:    large;
}

.title {
    padding-top: 0%;
    font-size: x-large;
    margin-bottom: -1.5%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.subtitle {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.monospace {
    font-family: Roboto Mono, monospace;
}

.serif {
    font-family: Roboto, sans-serif;
}
